# Laravel
/vendor
composer.phar
composer.lock
.env.*.php
!.env.testing.php
.env.php
/bootstrap/compiled.php

# ide / editor
.sublime-*

# Packages
/node_modules
/bower_components
/public/packages/*

# OS
.DS_Store
Thumbs.db
Icon?
.cache
